backend/venv/

# Build targets & caches
elan-plugin/target/
elan-plugin/target-out/
elan-plugin/dependency-reduced-pom.xml
elan-plugin/lib/elan.jar
.pytest_cache/
__pycache__/
*.pyc
*.egg-info/
*.pfsx
.DS_Store
.ember/
.elan-cache/
dist/
*.log
